[SddmGreeterTheme]
Name=Blue Lock Facility
Description=Blue Lock inspired futuristic login screen for Omarchy
Author=Codex
Type=sddm-theme
Version=1.0
QtVersion=6
